python-telegram-bot
motor[default]
transformers[default]
torch[default]
opencv-python-headless
pymongo
pyrogram
uvloop
cryptg
tgcrypto
tensorflow
tensorflow-hub
numpy
Pillow
opencv-python 
moviepy
lottie 
ffmpeg-python
aiofiles
dnspython
imageio[default]
imageio-ffmpeg[default]
nest_asyncio
aiosqlite
