python-telegram-bot
motor
transformers
torch
opencv-python-headless
pymongo
pyrogram
uvloop
cryptg
tgcrypto
# tensorflow==2.10.0   # Uncomment if using Python 3.7–3.10
tensorflow-hub
numpy
Pillow
moviepy
lottie
ffmpeg-python
aiofiles
dnspython
imageio
imageio-ffmpeg
nest_asyncio
aiosqlite
